.page {
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 2em;
}

.contactHero {
  width: 100%;
  height: 100%;
}

.contactHero h1 {
  padding-top: 2.5em;
}

.contactRow {
  width: 100%;
  display: flex;
}

.contactRow .contactCol:nth-child(1) {
  flex: 1.5;
}

.contactRow .contactCol:nth-child(2) {
  flex: 4;
}

.contactCol {
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
  padding: 1em;
}

.contactCol h1 {
  font-family: var(--font-wremena), serif;
  font-size: 70px;
  text-transform: none;
  letter-spacing: 0 !important;
}

.contactCol h1 span {
  text-transform: none;
  letter-spacing: 0 !important;
  font-weight: 400;
}

.section {
  padding-top: 2em;
}

.contactForm .contactRow:nth-child(1) .contactCol:nth-child(1) {
  padding-top: 2.25em;
}

.contactSubscribe h3 {
  margin-bottom: 0.5em;
}

.contactSubscribe :global(.input) {
  margin-top: 1em;
}

.contactSocials {
  padding-bottom: 4em;
}

.contactSocialLink p a {
  font-size: 36px;
}

@media (max-width: 900px) {
  .container {
    width: 100%;
  }

  .contactCol h1 {
    font-size: 50px;
  }

  .contactRow {
    flex-direction: column;
  }

  .contactCol {
    padding: 1em 0;
  }
}
