.page {
  width: 100%;
}

.worksHero {
  position: relative;
  height: 80vh;
  padding-top: 10em;
  text-align: center;
  z-index: 0;
}

.projectPreview {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  opacity: 1;
}

.projectPreview img {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1.25);
  filter: blur(50px);
  opacity: 0;
}

.projectList {
  position: relative;
}

.projectListCol {
  flex: 3;
}

.projectListCol.whitespaceCol {
  flex: 2;
}

.whitespaceCol {
  flex: 2;
}

.projectListRow {
  width: 75%;
  display: flex;
  margin: 0 auto 8em auto;
}

.projectCopy h2 {
  font-family: var(--font-rosseta), serif;
  font-size: 80px;
  transition: color 0.4s ease;
  position: relative;
  z-index: 10;
}

.projectItem {
  position: relative;
}

.projectItem .projectImg {
  height: 400px;
  overflow: hidden;
}

.projectCopy {
  opacity: 0.3;
  transition: 0.3s;
}

.projectItem:hover .projectCopy {
  opacity: 1;
}

.copyPosRight {
  top: 20%;
  position: absolute;
  right: -20%;
}

.copyPosLeft {
  top: 20%;
  position: absolute;
  left: -20%;
}

.worksMarquee {
  position: relative;
  z-index: 0;
}

.magneticBtn {
  position: relative;
  z-index: 0;
}

.workCopyWrapper {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.workCopyWrapper h1 {
  position: relative;
  top: 250px;
}

.worksHero h1 {
  transition: color 0.4s ease;
}

.worksMarquee h1 {
  transition: color 0.4s ease;
}

@media (max-width: 900px) {
  .projectListRow {
    width: 100%;
  }

  .projectListCol.whitespaceCol {
    display: none;
  }

  .whitespaceCol {
    display: none;
  }

  .copyPosLeft,
  .copyPosRight {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
